* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(105, 67, 67);
  height: 100%;
}

.slider {
  width: 70%;
  height: 70vh;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slides {
  width: 400%;
  display: flex;
  height: 90%;
  overflow: hidden;
}

.slide {
  width: 25%;
  height: 100%;
  transition: 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.fff {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.txt-container {
  width: 50%;
  overflow: hidden;
}

.ts {
  width: 400%;
  display: flex;

  overflow: hidden;
}

.t {
  width: 25%;
  display: flex;
  color: #eee;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  transition: 0.5s;
}

.t p {
  width: 100%;
}

.navigation {
  display: flex;
  order: 1;
  justify-content: space-between;
  width: 15%;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid rgb(106, 106, 165);
  cursor: pointer;
  background: rgb(106, 106, 165);
}

.dot:hover {
  background: #eee;
  border: 2px solid #eee;
}

input[name='bin'] {
  display: none;
}
input[name='bi'] {
  display: none;
}

.textSlides {
  display: flex;
  flex-direction: column;
}

#bin1:checked ~ .slides .s1 {
  margin-left: 0;
}
#bin2:checked ~ .slides .s1 {
  margin-left: -25%;
}
#bin3:checked ~ .slides .s1 {
  margin-left: -50%;
}
#bin4:checked ~ .slides .s1 {
  margin-left: -75%;
}

#bin1:checked ~ .fff .txt-container .t1 {
  margin-left: 0;
}
#bin2:checked ~ .fff .txt-container .t1 {
  margin-left: -25%;
}
#bin3:checked ~ .fff .txt-container .t1 {
  margin-left: -50%;
}
#bin4:checked ~ .fff .txt-container .t1 {
  margin-left: -75%;
}

#bin1:checked ~ .fff .navigation #dot1 {
  background: rgb(105, 67, 67);
}

#bin2:checked ~ .fff .navigation #dot2 {
  background: rgb(105, 67, 67);
}

#bin3:checked ~ .fff .navigation #dot3 {
  background: rgb(105, 67, 67);
}

#bin4:checked ~ .fff .navigation #dot4 {
  background: rgb(105, 67, 67);
}

@media (max-width: 375px) {
  .slider {
    height: 40vh;
  }

  .slides {
    height: 60%;
  }

  .fff {
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
  }

  .txt-container {
    order: 2;
    width: 100%;
    justify-content: start;
    margin: 0;
  }

  .navigation {
    width: 30%;
    margin-bottom: 1em;
  }

  .dot {
    width: 10px;
    height: 10px;
  }

  .t {
    padding-left: 0.05rem;
    font-size: 1rem;
  }
}

@media (max-height: 800px) {
  .slider {
    width: 50%;
    height: 70vh;
    overflow: hidden;
  }

  .slides {
    height: 60%;
  }

  .navigation {
    width: 20%;
  }
}
