* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(105, 67, 67);
  height: 100%;
}

.slider {
  width: 70%;
  height: 500px;
  overflow: hidden;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slides {
  width: 400%;
  display: flex;
  height: 80%;
  overflow: hidden;
}

.slide {
  width: 25%;
  height: 100%;
  transition: 0.5s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.textControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.txt-container {
  width: 20%;
  overflow: hidden;
}

.ts {
  width: 400%;
  display: flex;
  /* align-items: flex-start; */
  overflow: hidden;
}

.t {
  width: 25%;
  display: flex;
  /* align-items: flex-start; */
  /* height: 100%; */
  transition: 0.5s;
}

.t p {
  width: 100%;
  /* height: 100%; */
}

.navigation {
  display: flex;

  justify-content: space-between;
  /* position: absolute; */
  /* bottom: 20px;
  left: 50%; */
  width: 15%;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #eeeeee;
  background: rgb(106, 106, 165);
}

.dot:hover {
  background: #eee;
}

input[name='bin'] {
  display: none;
  /* visibility: hidden; */
}
input[name='bi'] {
  display: none;
  /* visibility: hidden; */
}

.textSlides {
  display: flex;
  flex-direction: column;
}

#bin1:checked ~ .s1 {
  margin-left: 0;
}
#bin2:checked ~ .s1 {
  margin-left: -25%;
}
#bin3:checked ~ .s1 {
  margin-left: -50%;
}
#bin4:checked ~ .s1 {
  margin-left: -75%;
}

#bin1:checked ~ .t1 {
  margin-left: 0;
}
#bin2:checked ~ .t1 {
  margin-left: -25%;
}
#bin3:checked ~ .t1 {
  margin-left: -50%;
}
#bin4:checked ~ .t1 {
  margin-left: -75%;
}

@media (max-width: 320px) {
  .textControls {
    flex-direction: column;
    align-items: center;
  }

  .txt-container {
    order: 2;
    width: 100%;
    justify-content: start;
  }

  .navigation {
    width: 30%;
    margin-bottom: 15px;
  }

  .dot {
    width: 10px;
    height: 10px;
  }
}
